{
	"DREAMPICS_DREAMSERVER_AMI": "ami-07428b6c",
	"DREAMPICS_DREAMSERVER_INSTANCE_TYPE": "g2.2xlarge",
	"AWS_ACCESS_KEY_ID": "",
	"AWS_REGION": "us-east-1",
	"AWS_SECRET_ACCESS_KEY": "",
	"AWS_SECURITY_GROUP": "",
	"GCS_BUCKET": ""
}
